<h1 align="center">
  <strong>Little Esty Shop</strong>
</h1>

<br>

<h2 align="left">Admin Dashboard</h2>
<div align="right">
  <p ><%= link_to "Dashboard", admin_path %>
  <%= link_to "Merchants", merchants_path %>
  <%= link_to "Invoices", invoices_path %></p>
</div>
